$red: #F00714;
$black: #101010;
$gray: #ACACAC;
$lightgray: #EEEEEE;
$white: #FFFAF1;



// color pallete
 
$main-dark: #373D33;
$main-green: #6F7C67;
$main-white: #FFF7EA;
$main-gray: #FFF7EA;


// other vars

